@charset "UTF-8";

html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

#menu{
    background-color: #ffffaa;
}

#menu .option{
    background-color: pink;
}

#field{
    display: none;
}
